<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>medsie.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AD0AE0B0EE7376114BBBA837E1EA8D1B79DC695C</string>
				<key>dateExpires</key>
				<string>25/08/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QH3MGDX858.com.medsie</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QH3MGDX858</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>QH3MGDX858.com.medsie</string>
				</array>
			</dict>
			<key>name</key>
			<string>medsie.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>75772b5a-49aa-42fb-a73e-cc07fbcc0de6</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.medsie</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QH3MGDX858</string>
				<key>name</key>
				<string>Avigma Technologies</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
